<div th:fragment="question">
  <div class="landing-block-node-text">
    <p>
      <span style="font-weight: bold;">
        Перечень документов необходимых для допуска к соревнованиях:</span>
    </p>
    <p>
    </p>
    <ol>
      <li>Паспорт гражданина РФ или свидетельство о рождении.</li>
      <li>Справка с места учебы с фотографией (для спортсменов, предоставляющих свидетельство о рождении).</li>
      <li>Документы, подтверждающие спортивную квалификацию.</li>
      <li>Документ, подтверждающий техническую квалификацию.</li>
      <li>Медицинский полис.<br></li>
      <li>Страховой полис от несчастного случая.</li>
      <li>Стартовый взнос в размере.</li>
    </ol>
    <p style="text-align: justify;"></p>
    <ul><li><a href="https://www.minsport.gov.ru/sport/high-sport/pravila-vidov-sporta/" target="_self">Тхэквондо</a>
    </li>
    </ul>
    <p></p>
  </div>
</div>