 .u-section-1 {
  min-height: 1301px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 558px;
  background-image: url(/static/images/main_background.jpg);
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-group-1 {
  width: 648px;
  min-height: 566px;
  height: auto;
  margin: 0 auto 60px;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0 158px;
}

.u-section-1 .u-text-2 {
  margin: 7px auto 0 20px;
}

.u-section-1 .u-form-1 {
  height: 437px;
  width: 570px;
  margin: 25px auto 0 39px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1203px;
  }

  .u-section-1 .u-image-1 {
    min-height: 460px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1095px;
  }

  .u-section-1 .u-image-1 {
    min-height: 352px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1007px;
  }

  .u-section-1 .u-image-1 {
    min-height: 264px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 909px;
  }

  .u-section-1 .u-image-1 {
    min-height: 226px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 587px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 97px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 623px;
}