<div th:fragment="header">
    <div>
        <ul class="nav col-12 col-md-8 mb-6 justify-content-center mb-md-0">
            <a th:href="@{/}" class="d-flex align-items-center col-md-1 mb-0 mb-md-2 ">
                <img width="80" height="80" th:src="@{/images/logo.png}"/>
            </a>
            <a href="/" class="nav-link px-2 link-secondary limits">Главная</a>
            <a href="/about" class="nav-link px-2 link-dark limits">О нас</a>
            <a href="/our_directions" class="nav-link px-2 link-dark limits">Наши направления</a>
            <a href="/questions" class="nav-link px-2 link-dark limits">Часто задаваемые вопросы</a>
            <a href="/news" class="nav-link px-2 link-dark limits">Новости</a>
        </ul>
    </div>
</div>