<div th:fragment="header">
    <div>
        <ul class="nav col-12 col-md-8 mb-6 justify-content-center mb-md-0">
            <a th:href="@{/}" class="d-flex align-items-center col-md-1 mb-0 mb-md-2 ">
                <img width="80" height="80" th:src="@{/images/logo.png}"/>
            </a>
            <a th:href="@{/}" class="nav21 nav-link px-2 link-secondary ">Главная</a>
            <a th:href="@{/about}" class="nav21 nav-link px-2 link-dark ">О нас</a>
            <a th:href="@{/trainers}" class="nav21 nav-link px-2 link-dark ">Тренера</a>
            <a th:href="@{/direction}" class="nav21 nav-link px-2 link-dark ">Наши направления</a>
            <a th:href="@{/question}" class="nav21 nav-link px-2 link-dark ">Часто задаваемые вопросы</a>
            <a th:href="@{/news/allNews}" class="nav21 nav-link px-2 link-dark ">Новости</a>
        </ul>
    </div>
    <style type="text/css">

        .nav21{
            padding: 2rem;
            margin: 0 -30px 0 50px;
        }
    </style>
</div>